#hotel , #venir .form, #venir .results { display: none; }

body {
  padding: 80px; /* 60px */
  padding-bottom: 40px;
}

nav .brand {
    max-height: 40px;
    overflow: visible;
    padding: 10px 20px 10px;
    padding-bottom: 0;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
}

nav ul {
  top: 40px;
  position: relative;
  left: 0;
  display: block;
  float: left;
  background: rgba(177, 231, 152, 0.84);
  border-radius: 5px;
}

#main_content .green {
  color: green;
}

a.clover {
  background: rgba(177, 231, 152, 0.84);
  color: green;
}

#albums_thumbs {
  border: 2px solid #f211b3;
  background: green;
  padding: 2px 0 0 2px;
  width: 324px;
}

#albums_thumbs img {
  border-width: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

